.overlay {
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.reviewPage {
    background-color: white;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}

.label {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.input,
.textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.textarea {
    resize: vertical;
    min-height: 100px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #295F98;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:disabled {
    background-color: #bbb;
    cursor: not-allowed;
}

.button:hover:not(:disabled) {
    background-color: #1e4b7a;
}

.button+.button {
    margin-top: 10px;
}