.overlay {
    position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoutButton {
    width: 300px;
    height: 60px;
    font-size: 20px;
    background-color: #3487e0;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 30px;
}

.container {
    width: 500px;
    height: 250px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h3 {
    margin-top: 30px;
    font-weight: 400;
}

.container h2 {
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600;
}